a {background-color: black; color: white;}
a:hover {color: gray;}
a:visited {color: silver;}
body {background-color: black; color: white; font-family: verdana,arial,sans-serif; margin-left: 100px; width: 600px;}
td {font-size: 80%; padding: 2px 25px 2px 25px;}
.question {font-style: italic; font-weight: bold;}
.answer {margin-left: 1em;}
#content {padding: 0 0 25px 0;}
#footer {text-align: center;}
#footer-img {width: 44px; vertical-align: middle;}
#37signals {padding: 0px 0 20px 0;}
#google {padding: 20px 0 10px 0;}