development:
  adapter: mysql
  database: justmissedme_development
  username: jmm_user
  password: jmm_pw
  host: localhost

test:
  adapter: mysql
  database: justmissedme_test
  username: jmm_user
  password: jmm_pw
  host: localhost

production:
  adapter: mysql
  database: justmissedme
  username: app_user
  password: app_user_pw
  host: db.justmissedme.com
